body{
    color: rgb(229, 6, 6);
    background: rgb(137, 166, 208);
    margin: 0px;
}

header{
    border-bottom: solid  2px rgb(44, 73, 239);
    padding: 20px;
    font-size: 32px;
    color: blue;
}

section{
    background: white;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right:5%;
}

h1 {
    font-size: 40px;
}

img {
    height: 200px;
}